[submodule "site/ciniki-mods/core"]
	path = site/ciniki-mods/core
	url = https://github.com/ciniki/core
[submodule "site/ciniki-mods/users"]
	path = site/ciniki-mods/users
	url = https://github.com/ciniki/users
[submodule "site/ciniki-mods/tenants"]
	path = site/ciniki-mods/tenants
	url = https://github.com/ciniki/tenants
[submodule "site/ciniki-mods/cron"]
	path = site/ciniki-mods/cron
	url = https://github.com/ciniki/cron
[submodule "site/ciniki-mods/bugs"]
	path = site/ciniki-mods/bugs
	url = https://github.com/ciniki/bugs
[submodule "site/ciniki-mods/images"]
	path = site/ciniki-mods/images
	url = https://github.com/ciniki/images
[submodule "site/qruqsp-mods/aprs"]
	path = site/qruqsp-mods/aprs
	url = https://github.com/qruqsp/aprs
[submodule "site/qruqsp-mods/tnc"]
	path = site/qruqsp-mods/tnc
	url = https://github.com/qruqsp/tnc
[submodule "site/qruqsp-mods/qsn"]
	path = site/qruqsp-mods/qsn
	url = https://github.com/qruqsp/qsn
[submodule "site/qruqsp-mods/qsl"]
	path = site/qruqsp-mods/qsl
	url = https://github.com/qruqsp/qsl
[submodule "site/qruqsp-mods/qrz"]
	path = site/qruqsp-mods/qrz
	url = https://github.com/qruqsp/qrz
[submodule "site/ciniki-mods/web"]
	path = site/ciniki-mods/web
	url = https://github.com/ciniki/web
[submodule "site/ciniki-mods/sysadmin"]
	path = site/ciniki-mods/sysadmin
	url = https://github.com/ciniki/sysadmin
[submodule "site/qruqsp-mods/43392"]
	path = site/qruqsp-mods/43392
	url = https://github.com/qruqsp/43392
[submodule "site/qruqsp-mods/core"]
	path = site/qruqsp-mods/core
	url = https://github.com/qruqsp/core
[submodule "site/qruqsp-mods/weather"]
	path = site/qruqsp-mods/weather
	url = https://github.com/qruqsp/weather
[submodule "site/qruqsp-mods/i2c"]
	path = site/qruqsp-mods/i2c
	url = https://github.com/qruqsp/i2c
[submodule "site/qruqsp-mods/sams"]
	path = site/qruqsp-mods/sams
	url = https://github.com/qruqsp/sams
[submodule "site/qruqsp-mods/dashboard"]
	path = site/qruqsp-mods/dashboard
	url = https://github.com/qruqsp/dashboard
[submodule "site/ciniki-mods/customers"]
	path = site/ciniki-mods/customers
	url = https://github.com/ciniki/customers
[submodule "site/ciniki-mods/blog"]
	path = site/ciniki-mods/blog
	url = https://github.com/ciniki/blog
[submodule "site/ciniki-mods/calendars"]
	path = site/ciniki-mods/calendars
	url = https://github.com/ciniki/calendars
[submodule "site/ciniki-mods/audio"]
	path = site/ciniki-mods/audio
	url = https://github.com/ciniki/audio
[submodule "site/ciniki-mods/events"]
	path = site/ciniki-mods/events
	url = https://github.com/ciniki/events
[submodule "site/ciniki-mods/gallery"]
	path = site/ciniki-mods/gallery
	url = https://github.com/ciniki/gallery
[submodule "site/ciniki-mods/info"]
	path = site/ciniki-mods/info
	url = https://github.com/ciniki/info
[submodule "site/ciniki-mods/lapt"]
	path = site/ciniki-mods/lapt
	url = https://github.com/ciniki/lapt
[submodule "site/ciniki-mods/links"]
	path = site/ciniki-mods/links
	url = https://github.com/ciniki/links
[submodule "site/ciniki-mods/mail"]
	path = site/ciniki-mods/mail
	url = https://github.com/ciniki/mail
[submodule "site/ciniki-mods/sponsors"]
	path = site/ciniki-mods/sponsors
	url = https://github.com/ciniki/sponsors
[submodule "site/ciniki-mods/subscriptions"]
	path = site/ciniki-mods/subscriptions
	url = https://github.com/ciniki/subscriptions
[submodule "site/ciniki-mods/tutorials"]
	path = site/ciniki-mods/tutorials
	url = https://github.com/ciniki/tutorials
[submodule "site/qruqsp-mods/tutorials"]
	path = site/qruqsp-mods/tutorials
	url = https://github.com/qruqsp/tutorials
[submodule "site/qruqsp-mods/piadmin"]
	path = site/qruqsp-mods/piadmin
	url = https://github.com/QRUQSP/piadmin
[submodule "site/ciniki-mods/sapos"]
	path = site/ciniki-mods/sapos
	url = https://github.com/ciniki/sapos
[submodule "site/qruqsp-mods/pibin"]
	path = site/qruqsp-mods/pibin
	url = https://github.com/QRUQSP/pibin
[submodule "site/ciniki-mods/taxes"]
	path = site/ciniki-mods/taxes
	url = https://github.com/ciniki/taxes
[submodule "site/qruqsp-mods/ntst"]
	path = site/qruqsp-mods/ntst
	url = https://github.com/qruqsp/ntst
[submodule "site/qruqsp-mods/fielddaylog"]
	path = site/qruqsp-mods/fielddaylog
	url = https://github.com/qruqsp/fielddaylog
[submodule "site/qruqsp-mods/canadadaylog"]
	path = site/qruqsp-mods/canadadaylog
	url = https://github.com/QRUQSP/canadadaylog
[submodule "site/qruqsp-mods/13colonieslog"]
	path = site/qruqsp-mods/13colonieslog
	url = https://github.com/QRUQSP/13colonieslog
[submodule "site/qruqsp-mods/contestlogger"]
	path = site/qruqsp-mods/contestlogger
	url = https://github.com/QRUQSP/contestlogger
